body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.holaaa {
    font-size: 20px;
    margin-top: 10%;
    z-index: 1000;
}

/*NAVIGATION*/
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(214, 203, 213, 255);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
}

.name {
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
    color: black;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 35px;
}

.author {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 0;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    margin-bottom: 3%;
    padding: 0;
}

.linkk {
    color: #626262;
    text-decoration: none;
    padding: 2%;
    box-sizing: border-box;
}

.linkk:hover {
    background-color: #C7C7C7;
    border-radius: 10%;
}

.icons {
    margin-right: 1%;
}

#icon {
    font-size: 24px;
    margin-right: 10px;
    color: black;
    position: relative;
}

#icon-search {
    font-size: 24px;
    margin-right: 10px;
    color: black;
}

#search-form-container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center; /* Centriranje forme horizontalno */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: auto; 
    max-width: 90%; 
    margin: 0 5%; 
}

#search-input {
    font-family: "Roboto Mono", monospace;
    border: none;
    color: #b3848f;
    background-color: transparent;
    outline: none;
    padding: 10px;
    text-align: left;
    width: 100%; 
}

.cart-counter {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    transform: translate(20%, -50%); 
}

/*INTRO*/
.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../pics/model.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.left-container {
    flex: 0.8 0 auto;
}

.last-lineup {
    color: #b3848f;
    font-size: 30px;
    margin: 0;
}

.new-items-1 {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    margin-top: 0;
}

.shop-items {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

/*FOUNDATION*/
.shopping {
    background-color: #f8f1f4;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    margin-top: 1em;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border: 1px solid #b3848f;
    border-radius: 3px;
    padding: 1em;
    position: relative;
    height: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the height */
}

#foundation, #concealer, #contour, #blush, #highlighter {
    padding-top: 9%;
    color: #b3848f;
    font-size: 30px;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-item {
    width: 100%;
    height: auto;
}

.icon-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #b3848f;
    font-size: 24px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
}

.icon-heart:hover {
    color: darkred;
}

.name-item {
    margin-top: 25px;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    text-transform: lowercase;
    text-align: left;
    width: 100%;
}

.description-item {
    font-family: "Roboto Mono", monospace;
    font-size: 10px;
    text-transform: lowercase;
    margin: 0;
    text-align: left;
    width: 100%;
}

.add-to-cart-btn {
    font-family: "Roboto Mono", monospace;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid darkgrey !important;
    cursor: pointer;
    margin-top: auto;
    height: 20px;
}

.price-item {
    font-family: "Roboto Mono", monospace;
    font-size: 10px;
    text-transform: lowercase;
    margin: 0;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .items-grid {
        grid-template-columns: 1fr; /* Single column layout */
    }
    .navbar-toggler {
        display: block;       

    }
    .navbar-collapse {
        display: none;
    }
    .navbar-toggler.collapsed + .navbar-collapse {
        display: flex;
    }
    .links {
        flex-direction: column;
        width: 100%;
    }
    .linkk {
        width: 100%;
        text-align: center;
        padding: 10px;
    }


    .left-container{
        margin-top: -120%;
    }
    .last-lineup{
        font-size: 0px;
    }
    .new-items-1{
        font-size: 0px;
    }
    .shop-items{
        font-size: 0px;

    }

    .name{
        font-size:14px;
    }
   .author{
    font-size:12px;

    }
}