body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Navigation styles */
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(214, 203, 213);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    padding: 10px;
}

.name {
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
    color: black;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 35px;
}

.author {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 0;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    padding: 0;
}

.linkk {
    color: #626262;
    text-decoration: none;
    padding: 2%;
    box-sizing: border-box;
}

.linkk:hover {
    background-color: #C7C7C7;
    border-radius: 10%;
}

.icons {
    margin-right: 1%;
}

#icon, #icon-search {
    font-size: 24px;
    margin-right: 10px;
    color: black;
}

#search-form-container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    max-width: 90%;
    margin: 0 5%;
}

#search-input {
    font-family: "Roboto Mono", monospace;
    border: none;
    color: #b3848f;
    background-color: transparent;
    outline: none;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.cart-counter {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    transform: translate(20%, -50%); 
}

.wishlist-items {
    margin-top: 150px; 
    margin-bottom: 70px; 

    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;   
}

.empty{
    padding-top:160px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #b3848f;
    border-radius: 3px;
    padding: 1em;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    width: 100%;
    max-width: 800px; /* You can adjust this value as needed */
}

.item img {
    max-width: 100px;
    margin-right: 1em;
}

.info {
    flex-grow: 1;
    text-transform: lowercase;
}

.btn {
    margin-bottom: 0.5em;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
}
